* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
 background-image: url('bg.jpg');
}
 .Bg{
  background-image: bg.jpg;
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
 }
 
.profile>p{
  text-align: center;
  color: white;
}

.profile>h6{
  color: white;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
  
.profile>img{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 110px;
  width: 121px;
  border-radius: 50%;
}

.link{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.link>a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: center;
  border: 3px solid #fbfffb;
  background-color: #10,0,0;
  border-radius: 7px;
  margin: 15px 15px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.footer{
  text-align: center;
}

.footer>i{
  color: white;
  font-size: 15px;
}
