.body, html {
    height: 100%;
}
 
.bg {
    background-image: url("Bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile>p{
  text-align: center;
}

.profile{
  height: 1000px;
  width: 500px;
}
  
.profile>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}